export(msgl)
export(msgl.cv)
export(msgl.lambda.seq)
export(msgl.subsampling)
export(sgl.algorithm.config)
export(sgl.standard.config)
import(Matrix)
S3method(predict,msgl)
useDynLib(msgl,r_msgl_predict)
useDynLib(msgl,r_msgl_sparse_predict)
useDynLib(msgl,r_msgl_wb_basic)
useDynLib(msgl,r_msgl_wb_cv)
useDynLib(msgl,r_msgl_wb_lambda_seq)
useDynLib(msgl,r_msgl_wb_sp_basic)
useDynLib(msgl,r_msgl_wb_sp_cv)
useDynLib(msgl,r_msgl_wb_sp_lambda_seq)
useDynLib(msgl,r_msgl_wb_sp_subsampling)
useDynLib(msgl,r_msgl_wb_subsampling)
